<div class="contents row">
  <% @questions.each do |q| %>
    
    <p><%= q.question %></p>
    <% for c in 1..q.choice_number %>
      <% a = 'choice' + c.to_s%>
      <span class="name">
        <%= q.send("choice#{c}") %>
      </span>
    <% end %>
  <% end %>
</div>
